<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Welcome To IBEScore</title>
	</head>
	<body
		style="
			padding: 6%;
			font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
				'Lucida Sans Unicode', Verdana, Geneva, Tahoma, sans-serif;
			line-height: 1.2em;
		">
		<table
			width="100%"
			border="0"
			cellspacing="0"
			cellpadding="0">
			<tr>
				<td
					align="left"
					style="padding: 20px">
					<h1>Hi [name]</h1>
					<h3 style="font-size: 24px; line-height: 1em; font-weight: 600">
						Your IBESCore account has been created
					</h3>
					<br />
					<p>GAME CODE: <span>[gameCode]</span></p>
					<p>Director Key: <span>[dirKey]</span></p>
					<br />
					<p>You can now start creating games.</p>
					<p>
						Click
						<a
							href="https://ibescore.com/2022/03/26/ibescore-video-guides/#ibedirect"
							>here</a
						>
						to open the Game Creation Training Videos page which are freely
						available in the IBEScore Training Centre at the
						<a href="www.ibescore.com">www.ibescore.com</a>website.
					</p>
					<p>
						Now that you have your GAME CODE, you can use it to create and score
						bridge games. Click on the GLOBE circle image to access the scoring
						system in the App. Enter your GAME CODE and instead of Enter Duplicate
						(which your players will use to score the games you create), locate the
						little IBEScore icon and click on it - you will then see Director. Click
						it and enter the password to access the game creation menus.
					</p>
					<p>
						You will find lots of videos in our Training Centre at
						<a href="https://www.ibescore.com">https://www.ibescore.com</a>. Or when
						you open the App, click on DIRECTOR for help to create and administer
						games. Or press HELP for player scoring support.
					</p>
					<p>
						If you need to arrange a virtual training session, please contact us at
						this address or send a WhatsApp message from within the App. We are here
						to help.
					</p>
					<p>
						The forum has some helpful tips and you can ask questions too.
						<a href="https://ibescore.com/forum/">https://ibescore.com/forum/</a>
						This is a link if you want to share the download app links on a website.
						<a
							href="https://ibescore.com/forum/forum/useful-things-to-help-promote-ibescore-to-players/"
							>https://ibescore.com/forum/forum/useful-things-to-help-promote-ibescore-to-players/</a
						>, or a printable table or wall chart to help players become familiar
						with the menus.
					</p>
					<p>
						Please ignore any credit usage messages - this is a no charge trial
						account for you to run games and publish results. We will contact you
						for feedback and to give you subscription options before the trial
						period ends. After the trial period ends you will still be able to score
						games using the BexBronze features of IBEScore.
					</p>
					<p>
						If you forget your password, or have any questions please email us at
						this address or whatsapp us from in the app's HELP or DIRECTOR buttons.
						These buttons also access multiple training videos, technical
						information and the user forum.
					</p>

					<p>
						You can add new player names by typing names using "Tap Here" (click and
						hold to access at a table at start of Round 1), or in the TD settings
						menu, or on table nameslip screen table creation. (I have pre-populated
						12 unreal names for you to practice with.)
					</p>

					<p>
						Our subscription service support includes adding your players names,
						affiliation numbers, bbo names, email addresses etc to a player
						database. And working with you to create files that can be published to
						websites and masterpoint systems.
					</p>
					<p>
						FREE game code (BEX BRONZE) users can track results on our website if
						you tell us you would like this option.
					</p>
					<p>
						A new feature you will find - if you open a board traveler while logged
						in as the Director, you have the ability to add a deal file from your
						device. Please help the environment by reducing hand record printing in
						your games. For this reason IBEScore does not give any option to print
						hand records from the app.
					</p>
					<p>Please email this address if you need training help or support.</p>
					<p>Happy bridge organising!!</p>
					<p>Nicole, Sarah, Maurizio & Ishmael</p>
					<p>
						<span style="color: fuchsia; font-style: italic; font-weight: 600"
							>Please keep well and bridging happily</span
						>
					</p>
					<p>
						<span style="color: fuchsia; font-style: italic; font-weight: 600"
							>IBEScore Administrative and Support Team</span
						>
					</p>
					<a href="https://www.ibescore.com">https://www.ibescore.com</a>
				</td>
			</tr>
		</table>
	</body>
</html>
